PUID=1000
PGID=1000
TZ=Europe/Amsterdam # Change to your timezone
SERVERPORT=51488
#SERVERURL=my.ddns.net #optional - For use with DDNS (Uncomment to use)
PEERS=8 # How many peers to generate for you (clients)
PEERDNS=10.2.0.100 # Set it to point to pihole
INTERNAL_SUBNET=10.6.0.0
